body{
    margin: 0;
    padding: 0;
}


.flex-menu{
    display: flex;
    max-width: 400px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column ;
    
}

.logo-menu img{
    height: 80px;
}

.busca {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: space-around;
}

.busca img{
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-top: -20px;
}

.album-matriz{
    display: flex;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

}

/* margin: -25px 0 0 150px; */
.album{
 width: 100%;
 max-width: 80%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 flex-flow: row wrap;

}

.item{
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: cornsilk;
    width: 180px;
    height: 280px;
    margin: 2px;
}

.rodape{
    display: flex;
    height: 50px;
    width: 100%;
    color: whitesmoke;
    background-image: radial-gradient(circle at -20.71% 50%, #008aff 0, #0083ff 3.33%, #197cff 6.67%, #6574ff 10%, #8a6af7 13.33%, #a760ea 16.67%, #be54dc 20%, #d048cc 23.33%, #df3cbb 26.67%, #ea2fa9 30%, #f22497 33.33%, #f71e84 36.67%, #fa1e72 40%, #fa2560 43.33%, #f7304e 46.67%, #f23c3c 50%, #eb482a 53.33%, #e25313 56.67%, #d85d00 60%, #cc6700 63.33%, #bf7000 66.67%, #b07800 70%, #a17e00 73.33%, #918400 76.67%, #7f8a00 80%, #6c8e00 83.33%, #569200 86.67%, #3b9500 90%, #009807 93.33%, #009a27 96.67%, #009c3c 100%);
    align-items: center;
    justify-content: center;

}

.rodape img{
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    border-color: #0083ff;
}

/* media queries  


@media (max-width: 650px) {
    .album{
        width: 90%;
        padding: 0px;
        margin: 0px;

    }
} */